<p id="notice"><%= notice %></p>

<%= link_to new_petition_path,  class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Petition
<% end %>

<h1><%= t "active" %> </h1>

    <table class="table table-striped">
      <thead>
        <tr>
            <th class="col-md-9"><%= t('name') %></th>
            <th class="col-md-1"><%= t('signatures') %></th>
            <th class="col-md-2"><%= t('active') %></th>
        </tr>
      </thead>

      <tbody>

        <% Petition.live.show_on_home.each do |petition| %>

            <tr>
                <td>
                  <%= link_to petition_path(petition) do %>
                      <%= petition.name %>
                  <% end %>
                </td>

                <td>
                    <div class="label label-success">
                        <%= petition.signatures_count %>
                    </div>
                </td>

                <td><%= distance_of_time_in_words(petition.last_confirmed_at, Time.now) %></td>

            </tr>

         <% end %>

      </tbody>

    </table>


<% cache [cache_key_for_petitions, @page, @sorting, @order, @search] do %>

  <h1 name="listing"><%= t 'listing' %>  <%= @petitions.count %> <%= t 'petitions' %></h1>

    <table class="table table-striped">

      <thead>
        <tr>
            <th class="col-md-9"><%= link_to t('name'), controller: "petitions" , anchor: "listing",
                            sort: 'name', order: @order %></th>

            <th class="col-md-1"><%= link_to t('signatures'), controller: "petitions" , anchor: "listing",  
                            sort: 'signatures_count', order: @order %></th>

            <th class="col-md-2"></th>

        </tr>
      </thead>

      <tbody>

        <% @petitions.each do |petition| %>
            <% cache petition do%>
              <tr>

                  <td>
                  <%= link_to petition_path(petition) do %>
                      <%= petition.name %>
                  <% end %>
                  </td>

                <td>
                  <div class="label label-success">
                    <%= petition.signatures_count %>
                  </div>
                </td>
                
                <td>

                </td>

                <% if false %>

                    <td><%= petition.description %></td>
                    <td><%= petition.request %></td>

                    <td><%= link_to 'Show', petition, class: 'btn btn-primary btn-xs' %></td>
                    <td><%= link_to 'Edit', edit_petition_path(petition), 
                            class: 'btn btn-primary btn-xs'  %></td>
                    <td><%= link_to 'Destroy', petition, method: :delete, 
                            data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs' %></td>
                <% end %>

              </tr>
            <% end %>
        <% end %>

      </tbody>

    </table>

    <%= will_paginate @petitions, renderer: BootstrapPagination::Rails %>

<%end%>

<br>


