<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @petition.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @petition.text %>
</p>

<%= link_to 'Edit', edit_petition_path(@petition) %> |
<%= link_to 'Back', petitions_path %>
