<p id="notice"><%= notice %></p>

<p class="well well-lg">

  <strong><%= t "name" %>:</strong>

  <%= @petition.name %>

  </p>

<p class="well">
  <strong><%= t "description" %>:</strong>
  <%= @petition.description %>
</p>

<p class="well">
  <strong><%= t "request" %>:</strong>
  <%= @petition.request %>
</p>





<div class="well">
    <%= t "signatures" %>: <%= @petition.signatures.count %>
</div>


    <table class="table table-striped">

      <thead>
        <tr>

            <th class="col-md-9"><%= t "name" %></th>

            <th class="col-md-1"><%= t "place" %> </th>

            <th class="col-md-2"><%= t "when" %> </th>

        </tr>
      </thead>

      <tbody>

        <% @signatures.each do |signature| %>

              <tr>
                <td>
                    <% if signature.visible? %>
                        <%= signature.person_name %>
                    <% else %> 
                        <%= t "anonymous" %>
                    <% end %>
                </td>
  
                <td>
                    <%= signature.person_city %>
                </td>
                   
                <td>
                  <%= distance_of_time_in_words_to_now(signature.signed_at) %>
                </td>
  
              </tr>
        <% end %>

      </tbody>

    </table>

    <%= will_paginate @signatures, renderer: BootstrapPagination::Rails %>



<%= link_to 'Edit', edit_petition_path(@petition) %> |
<%= link_to 'Back', petitions_path %>
