<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @petition.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @petition.description %>
</p>

<p>
  <strong>Request:</strong>
  <%= @petition.request %>
</p>



<%= link_to 'Edit', edit_petition_path(@petition) %> |
<%= link_to 'Back', petitions_path %>
