<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= t "petitions" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


  <%= render template: "shared/_navigation" %>

   <div id="main-container" class="container">

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end -%>

      <%= yield :head %>
     
      <div class="row">
        <div class="col-xs-3">
          <%= yield :sidebar %>
        </div>
        <div class="col-xs-9">

          <%= yield %>

        </div>
      </div>

      <%= render 'layouts/user_widget' %>

    </div>

</body>
</html>
